APP_PORT=8000
DATABASE_URL=postgresql+asyncpg://wallet_user:wallet_password@postgres:5432/wallet_db
POSTGRES_DB=wallet_db
POSTGRES_USER=wallet_user
POSTGRES_PASSWORD=wallet_password
POSTGRES_PORT=5432
DEBUG=True
APP_HOST=0.0.0.0